Cargo.lock
target
.idea
*.gpkg
*.gpkg-wal
*.gpkg-shm
perf.data
perf.data.old
flamegraph*.svg
*.so
.ipynb_checkpoints
/venv
__pycache__
.pytest_cache
.ruff_cache
/h3ronpy/docs/build/
/h3ronpy/docs/source/generated/
/h3ronpy/docs/source/_build/
/h3ronpy/dist
