[package]
name = "h3ronpy"
version = "0.15.0"
authors = ["Nico Mandery <nico@nmandery.net>"]
description = "python bindings for h3ron"
edition = "2021"
license = "MIT"
keywords = ["geo", "spatial", "h3", "ndarray", "numpy", "python"]
readme = "README.md"
homepage = "https://github.com/nmandery/h3ronpy"
repository = "https://github.com/nmandery/h3ronpy"

[lib]
name = "h3ronpy"
crate-type = ["cdylib"]

[dependencies]
numpy = "0.17.0"
env_logger = "^0.9"
geo-types = "^0.7"
rayon = "^1.5"
ordered-float = ">=2.0.1"

[dependencies.geozero]
version = "0.9"
default-features = false
features = ["with-geo", "with-wkb"]

[dependencies.pyo3]
version = "0.17.0" # matches numpy crates requirements
features = [
    "extension-module",
    "abi3",
    "abi3-py37",
]

[dependencies.h3ron-ndarray]
version = "0.15.0"

[dependencies.ndarray]
version = "0.15"
features = ["rayon"]

[dependencies.h3ron]
version = "0.15.1"

[dependencies.h3ron-h3-sys]
version = "0.15.0"
